 <div>
    <%= form_for(@user) do |u| %>
        First Name* :  <%= u.text_field :first_name %><br><br>
        Last Name* :   <%= u.text_field :last_name %><br><br>
        Address* :     <%= u.text_field :address %><br><br>
        Password* :    <%= u.password_field :password %><br><br>
        Email* :       <%= u.text_field :email %><br><br>
        City* :        <%= u.text_field :city %><br><br>
        State* :       <%= u.text_field :state %><br><br>
        Cellphone* :   <%= u.text_field :cellphone %><br><br>
        Phone :       <%= u.text_field :phone %><br><br>
        Company :     <%= u.text_field :company %><br><br>
        <%= u.submit %>
    <% end %>
  </div>