<h1><%= @user.first_name %></h1>
<p><%= @user.last_name %></p>
<p><%= @user.address %></p>
<p><%= @user.email %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.cellphone %></p>
<p><%= @user.phone %></p>
<p><%= @user.company %></p>
<h3><%= time_ago_in_words(@user.updated_at) %></h3>