<h1><%= @user.first_name %></h1>
<p><%= @user.last_name %></p>
<p><%= @user.address %></p>
<p><%= @user.password %></p>
<p><%= @user.email %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.cellphone %></p>
<p><%= @user.phone %></p>
<p><%= @user.company %></p>
<%= time_ago_in_words(@user.update_at) %>