<div class="w3-container w3-container w3-center w3-animate-opacity w3-flat-midnight-blue">
 <h1>Companies</h1>
<table class="w3-table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Commercial Activity</th>
    <th>Cellphhone</th>
    <th>Phone</th>
    <th colspan="4"></th>
  </tr>
 
  <% @companies.each do |comp| %>
    <tr>
      <td><%= comp.name %></td>
      <td><%= comp.address %></td>
      <td><%= comp.city %></td>
      <td><%= comp.state %></td>
      <td><%= comp.commercial_activity %></td>
      <td><%= comp.cellphone %></td>
      <td><%= comp.phone %></td>
      <td>
        <%= link_to 'Show', comp %>
        <%= link_to 'Edit company', edit_company_path(comp) %>
        <%= link_to 'Delete company', comp,
                    method: :delete,
                    data: { confirm: '¿Are you sure?'} %>
      </td>

    </tr>
  <% end %>
  <%= link_to 'New company', new_company_path %> | <%= link_to 'USERS', users_path %>
</table>
</div>
