<h1><%= @company.name %></h1>
<p><%= @company.address %></p>
<p><%= @company.city %></p>
<p><%= @company.state %></p>
<p><%= @company.commercial_activity %></p>
<p><%= @company.cellphone %></p>
<p><%= @company.phone %></p>
<h3><%= time_ago_in_words(@company.updated_at) %></h3>
<%= link_to 'Edit company', edit_company_path %> | <%= link_to 'Volver', companies_path %>